<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
</head>

<body>

    <p>nom:</p>
    <input type="text" name="nom">
    <p>prenom:</p>
    <input type="text" name="prenom">
    <p>profession:</p>
    <input type="text" name="profession">
    <br><br><br>
    <input type="submit" value="OK" id="affichage">


    <table id="table">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Profession</th>
        </tr>
    </table>

</body>

</html>